<div class="animate-switch-container" ng-switch on="selection" 
       ng-class="{forward: direction, backward:!direction,longStage: longStage}">
	
	<!-- Switch default -->
    <div class="animate-switch"  ng-switch-default>
      <form name="form" role="form" novalidate="" class="formClass">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group" ng-class="{'has-error':  form.uName.$invalid, 'has-success': !form.uName.$invalid}">
              <label for="uName ">User Name</label>
              <input type="text " class="form-control " name="uName " placeholder="User Name " ng-model="user.name " required=" " />
              <div class="err_tip " ng-show="form.uName.$dirty && form.uName.$invalid ">
                <span ng-show="form.uName.$error.required ">User name is required.</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 ">
            <div class="form-group " ng-class="{ 'has-error':  form.uEmail.$invalid, 'has-success': !form.uEmail.$invalid}">
              <label for="uEmail">Email address</label>
              <input type="email" class="form-control" name="uEmail" placeholder="Enter email" ng-model="user.email" required="" />
              <div class="err_tip" ng-show="form.uEmail.$dirty && form.uEmail.$invalid">
                <span ng-show="form.uEmail.$error.required">This field is required.</span>
                <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group" ng-class="{'has-error':  form.uPass.$invalid, 'has-success': !form.uPass.$invalid}">
              <label for="uPass ">Password</label>
              <input type="password" class="form-control" name="uPass" placeholder="Password "  ng-model="user.pass " required=" " ng-pattern="/^(?=.*\d)(?=.*\D).{6,}$/"/>
              <div class="err_tip " ng-show="form.uPass.$dirty && form.uPass.$invalid ">
                <span ng-show="form.uPass.$error.required ">Password is required.</span>
                <span ng-show="form.uPass.$error.pattern">Password must contain at least one digit and one letter and be at least 6 characters.</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 ">
            <div class="form-group " ng-class="{ 'has-error':  form.uPassConf.$invalid, 'has-success': !form.uPassConf.$invalid}">
              <label for="uPassConf">Confirm Password</label>
              <input type="password" class="form-control" name="uPassConf" placeholder="Confirm Password" ng-model="user.passconf" required="" password-match="user.pass" />
              <div class="err_tip" ng-show="form.uPassConf.$dirty && form.uPassConf.$invalid">
                <span ng-show="form.uPassConf.$error.required">This field is required.</span>
                <span ng-show="form.uPassConf.$error.unique">Password does not match the confirm password.</span>
              </div>
            </div>
          </div>
        </div>
        <button class="btn" ng-click="forward('stage2', user)" ng-disabled="form.$invalid" ng-class="{'btn-danger': form.$invalid, 'btn-success': !form.$invalid } ">Next</button>
      </form>
    </div>

	<!-- Switch stage 2 -->
    <div class="animate-switch" ng-switch-when="stage2">
      <form name="form" role="form" novalidate="" class="formClass">
        <div class="row">
          <div class="col-xs-8">
            <div class="form-group " ng-class="{ 'has-error':  form.uSecQuest.$invalid, 'has-success': !form.uSecQuest.$invalid}">
            	More data stuff
            </div>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="back('default')">Back</button>
        <button class="btn" ng-click="forward('finish', user)" ng-disabled="" ng-class="{'btn-danger': form.$invalid, 'btn-success': !form.$invalid } ">Next</button>
      </form>
    </div>
	
	<!-- Switch stage 3 -->
    <div class="animate-switch" ng-switch-when="finish">
        <div class="row">
          <div class="col-xs-12">
            <h1>Done!</h1>
            <button class="btn btn-primary" ng-click="back('stage2')">Back</button>
          </div>
        </div>
    </div>
  </div>