<div class="animate-switch-container" ng-switch on="selection" 
       ng-class="{forward: direction, backward:!direction,longStage: longStage}">
	
	<!-- Switch default -->
    <div class="animate-switch"  ng-switch-default>
      <form name="form" role="form" novalidate="" class="formClass">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="uName ">User Name</label>
              <input type="text " class="form-control " name="uName " placeholder="User Name " ng-model="user.name "/>
            </div>
          </div>
          <div class="col-xs-6 ">
            <div class="form-group ">
              <label for="uEmail">Email address</label>
              <input type="email" class="form-control" name="uEmail" placeholder="Enter email" ng-model="user.email"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="uPass ">Password</label>
              <input type="password" class="form-control" name="uPass" placeholder="Password "  ng-model="user.pass " required=" " ng-pattern="/^(?=.*\d)(?=.*\D).{6,}$/"/>
            </div>
          </div>
          <div class="col-xs-6 ">
            <div class="form-group ">
              <label for="uPassConf">Confirm Password</label>
              <input type="password" class="form-control" name="uPassConf" placeholder="Confirm Password" ng-model="user.passconf" required="" password-match="user.pass" />
            </div>
          </div>
        </div>
        <button class="btn" ng-click="update(user,'stage2')">Next</button>
      </form>
    </div>

	<!-- Switch stage 2 -->
    <div class="animate-switch" ng-switch-when="stage2">
      <form name="form" role="form" novalidate="" class="formClass">
        <div class="row">
          <div class="col-xs-8">
            <div class="form-group">
            	More data stuff
            </div>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="backTo('default')">Back</button>
        <button class="btn" ng-click="update(user,'finish')">Next</button>
      </form>
    </div>
	
	<!-- Switch stage 3 -->
    <div class="animate-switch" ng-switch-when="finish">
        <div class="row">
          <div class="col-xs-12 fade in">
            <h1>Done!</h1>
            <button class="btn btn-primary" ng-click="backTo('stage2')">Back</button>
          </div>
        </div>
    </div>
  </div>